ul {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}
 
li {
	float: left;
}
 
a {
	padding: 20px;
	color: orangered;
	font-size: 19px;
	font-family: Arial, Helvetica, sans-serif;
}
 
a:hover {
	background-color: green;
	color: white;
}
 
a.active {
	background-color: blue;
	color: white;
}
 
body {
	background-color: lightgrey;
}

.dnav {
	background-color: white;
	margin: 0px;
	padding-top: 10px;
	height: 50px;
	text-align: center;
}
 
.dnavs {
	background-color: #f1f1f1;
	margin: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 45px;
	text-align: center;
}
 
#dmainbody {
	background-color: lightgray;
	padding: 10px 20px 20px;
	width: auto;
	text-align: left;
}

#dfull3 {
	background-color: silver;
}

#dfull4 {
	background-color: white;
}

#dbanner {
	width: 100%;
	height: 40px;
	max-width: 1200px;
	margin-top: 20px;
	display: inline-block;
}
 
footer {
	background-color: #E9967A;
	height: 40px;
	padding: 10px;
	text-align: center;
}





